<style>
   @media only screen and (max-width: 420px) {
   #ob-header{display:none;}
   .bg {background-color:transparent; height:0vh; border-top:0vh solid orange; border-bottom:.0vh solid orange; position:fixed;left:0vw;right:0vw;top:0vw; z-index:11;}	
   #ob-sub-header{margin-top:16vw;}	
   .para-b {font-size:250%!important;}	
   .para {font-size: 52%!important;}
   .about-image {width: 100%!important;}	
   .para a, a:hover {color: #000;font-size: 100%!important;}	
   #fixed-logo{left: 38%!important;}	
   #ob-footer a, #ob-footer-info a{font-size:60%!important;}	
   .social-icon-1, .social-icon-1:hover {font-size: 80%!important;}
   #fixed-logo .logo{width:30%!important;}
   #ob-footer-bottom{font-size:60%!important;}
   #ob-footer-bottom a {font-size:100%!important;}
   }
   .silderjulybox{
   background:url("/assets/1751.webp");  
   background-repeat: no-repeat;
   background-size: 140% auto;
   padding:2vw 0vw 2vw 0vw;
   background-position:center center;
   }
   @media only screen and (min-width: 830px) {
   #navlogoBox{display:none;}
   .bg{display:none;}
   }	
   #mainbox .mainboxcol2{background-image: url(/assets/1751.webp);}
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:4.5vw; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:.8vw 1vw; width:100%; background-repeat: no-repeat;
   background-size: 150% auto; background-position: center; ;background-color:#000;}
   .onebitemapboxone{display:block;}
   .onebitemapboxtwo{display:none;}
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}	
   @media screen and (max-width:1280px){
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:auto; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:3vw 0vw; width:100%; background-repeat: no-repeat;
   background-size:157% auto; background-position: center;;background-color:#000; }
   .onebitemapboxone{display:block;}
   .onebitemapboxtwo{display:none;}	
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}	
   }
   @media screen and (max-width:1024px){
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:auto; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:2.5vw 0vw; width:70%; background-repeat: no-repeat;
   background-size: 209% auto; background-position: center;;background-color:#000; }
   .onebitemapboxone{display:block;}
   .onebitemapboxtwo{display:none;}	
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}	
   }
   @media screen and (max-width:768px){
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:5vw; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:1vw 0vw; width:100%; background-repeat: no-repeat;
   background-size: 150% auto; background-position: center;;background-color:#000;}
   .onebitemapboxone{display:block;}
   .onebitemapboxtwo{display:none;}
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}	
   }
   @media screen and (max-width:540px){
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:10vw; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:1vw 0vw; width:100%; background-repeat: no-repeat;
   background-size: 150% auto; background-position: center;}
   .onebitemapboxone{display:none;}
   .onebitemapboxtwo{display:block;}
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}	
   }
   @media screen and (max-width:411px){
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:10vw; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:1vw 0vw; width:100%; background-repeat: no-repeat;
   background-size: 150% auto; background-position: center;;background-color:#000;}
   .onebitemapboxone{display:none;}
   .onebitemapboxtwo{display:block;}
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}	
   }
   @media screen and (max-width:360px){
   .oneheadermenustylecontactboxtwogif{background: url(/assets/35-plus.gif); height:10vw; border-top-left-radius: 10vw; border-top-right-radius: 10vw; border-bottom-right-radius: 10vw; border-bottom-left-radius: 10vw; padding:1vw 0vw; width:100%; background-repeat: no-repeat;
   background-size: 150% auto; background-position: center;;background-color:#000;}
   .onebitemapboxone{display:none;}
   .onebitemapboxtwo{display:block;}
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}
   }
   @media screen and (max-width:320px){
   .onebitemapboxone{display:none;}
   .onebitemapboxtwo{display:block;}
   .onebitemapboxoneprs{width:100%;}
   .onebitemapboxtwoprs{width:100%;}
   }	
   @media screen and (max-width:600px){
   #toponebite{
   display:none;
   }
   }
   html{margin:0px; padding:0px;}
   body{margin:0px; padding:0px;}
   #toponebite{
   background-image: url("/assets/Untitled-design-59-1-1.png");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: 100%;
   width:100%;
   height:5vw;
   position:relative;
   top:0px; left:0px;
   }
   #toponebitelogo{ 
   position:absolute;
   top:-1vw; left:0vw;
   width:100%;
   height:7vw;  
   background-color: #000000;
   }
   #toponebitelogoul{
   position:relative;
   top:-.6vw; left:0px;
   }
   #onebitesmenuleft{
   position:absolute;
   display:flex; flex-direction;
   align-items: center; justify-content: center;
   top:2vw; left:6vw;
   width:40%;
   height:4vw;
   }
   #onebitesmenuleft a{display:block; text-decoration:none; color:white; font-size:1vw; font-family:Roboto-Bold; padding:1vw 1vw;}
   #onebitesmenuleft a:hover{display:block; text-decoration:none; color:black; font-size:1vw; font-family:Roboto-Bold; padding:1vw 1vw; background:yellow; border-radius:1vw;}
   #onebitesmenulright{
   position:absolute;
   top:2vw; left:56vw;
   width:40%;
   height:4vw;
   display:flex; flex-direction;
   align-items: center; justify-content: center;
   }
   #onebitesmenulright a{display:block; text-decoration:none; color:white; font-size:1vw; font-family:Roboto-Bold; padding:1vw 1vw;}
   #onebitesmenulright a:hover{display:block; text-decoration:none; color:black; font-size:1vw; font-family:Roboto-Bold; padding:1vw 1vw; background:yellow; border-radius:1vw;}
   #toponebitelogobox{
   position:absolute;
   top:2vw; left:46.5vw;
   width:9%;
   height:4vw;  
   }
   #toponebitegif{
   display:flex; flex-direction:row;
   position:relative;
   top:0vw; left:0px;
   }
   .toponebitegifleft{
   background-color: #000;
   border-radius:20vw;
   width:20%;
   height:5vw;
   position:absolute;
   top:8vw; left:10vw;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .toponebitegifrigt{
   background-color: #000;
   border-radius:20vw;
   width:20%;
   height:5vw;
   position:absolute;
   top:8vw; right:10vw;
   background-image: url("/assets/300.webp");
   background-repeat: no-repeat;
   background-size: 100%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .calltext{display:block;color:#ffb014; font-size:1.4vw; text-align:center; font-weight:900; font-family:Roboto-Bold; margin-top:.5vw}
   .calltextphone{display:block;color:#fff; font-size:1.9vw; text-align:center; font-weight:900; font-family:Roboto-Bold;}
   #toponebitemenu{
   display:flex; flex-direction:row;
   align-items: center; justify-content: center;
   position:absolute;
   top:16vw; left:5vw;
   width:90%;
   height:4vw;  
   background-color: #fccc4c;
   border-radius:20vw;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
   #toponebitemenu a{
   display:block;
   text-decoration:none;
   color:#8e1c01;
   font-size:1vw; 
   padding:.5vw;
   font-weight:900;
   font-family:Roboto-Bold; line-height:1vw;}
   #toponebitemenu a:hover{color:#fff; background:#a32300; padding:.5vw; border-radius:1vw;}

.galler_box_columnitemrps {
  width: 400px;
  height: 400px;
  object-fit: cover; /* This ensures the image scales properly */
}
.gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images per row */
  gap: 20px; /* Spacing between images */
  justify-content: center;
}

.galler_box_columnitem {
  width: 400px;
  height: 400px;
}

.galler_box_columnitemrps {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images maintain aspect ratio */
}
/* Ensure the gallery container is flexible */
.gallery_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between images */
    justify-content: center; /* Center align images */
    padding: 10px;
}

/* Style individual gallery items */
.galler_box_columnitem {
    flex: 1 1 calc(33.333% - 20px); /* 3 columns on larger screens */
    max-width: calc(33.333% - 20px);
    text-align: center;
    overflow: hidden;
}

/* Make images responsive */
.galler_box_columnitemrps {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Optional rounded corners */
    transition: transform 0.3s ease-in-out;
}

/* Hover effect */
.galler_box_columnitemrps:hover {
    transform: scale(1.05);
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .galler_box_columnitem {
        flex: 1 1 calc(50% - 20px); /* 2 columns on medium screens */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .galler_box_columnitem {
        flex: 1 1 100%; /* Full width on small screens */
        max-width: 100%;
    }
}

</style>
<div id="toponebite">
   <%= render HeaderComponent.new() %>
   
   <!-- Franchise Enquiry Section (Only for Mobile) -->
<div class="toponebitegifleft">
    <span class="calltext">Franchise Enquiry</span>
    <span class="calltextphone">
        <a href="tel:9311771842" class="phone-link">8800893218</a>
    </span>
</div>
<div id="toponebitegif">
      <div class="toponebitegifleft">
         <span class="calltext">Franchise Enquiry</span>
         <span class="calltextphone"><a href="tel:9311771842" style="text-decoration:none; color:white; font-size:2vw;">8800893218</a></span>
      </div>
      <div class="toponebitegifrigt"></div>
   </div>
</div>
<div id="silderonebite">
<% if @banner_award_img.image.attached? %>    
   <%= image_tag @banner_award_img.image, loading: "lazy", style: "width:100%" %>
<%end%>
</div>
<div id="mainbox" class="mobimage">
   <div class="mainboxcol1">
      <div class="mainboxfn">Franchise Enquiry</div>
      <div class="mainboxpn"><a onclick="return gtag_report_conversion('tel:9311771842');" href="tel:9311771842"> 9311771842</a></div>
   </div>
   <div class="mainboxcol2"></div>
</div>
<div id="silderbox">
   <img src="/assets/Untitled-design-2-1-1.png" class="silderboxbs">
<% if @banner_award_img.image.attached? %>    
   <%= image_tag @banner_award_img.image, loading: "lazy", class: "silderboxbs" %>
<%end%>
</div>
<div id="ob-content-section">
   <div class="flex">
      <div class="container">
         <div id="ob-content-section-body">
            <div class="flex-box-8">
               <div class="padding-top-para"></div>
               <div class="padding-top-para"></div>
               <div class="rowgallery">
               
<br>

               <center>
<div class="franchiseprodboxhedingthree">
   <span>Delicious Varieties Served</span> <span>MAST BANARASI PAAN AWORDS</span>
</div>
</center>
<br>
               <div class="gallery_container">
				  <% @awards.each do |award| %>
				    <div class="galler_box_columnitem">
				      <% if award.image.attached? %>
				        <a href="<%= url_for(award.image) %>" data-lightbox="Onebite_Store_Gallery" data-title="Gallery Image">
				          <%= image_tag award.image, loading: "lazy", class: "galler_box_columnitemrps" %>
				        </a>
				      <% else %>
				      <%= award.id%>
				        <p>No Image Available</p>
				      <% end %>
				    </div>
				  <% end %>
				</div>                  
            </div>
         </div>
      </div>
   </div>
</div>
<%= render FooterComponent.new() %>
<%= render MobHeaderComponent.new() %>
<script src="jquery-3.4.1.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<!-- Lightbox2 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
<script src="path-to-lightbox.js"></script>
<!-- jQuery (required for Lightbox2) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Lightbox2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script>
   function sendToWhatsapp(){
   	let number ="918076631024";
   	let name = document.getElementById('fullname').value;
   	let email = document.getElementById('emailid').value;
   	let phone = document.getElementById('phone').value;
   	let message = document.getElementById('message').value;
   	
   	var url = "https://wa.me/" + number + "?text=" + "name: " +name+ "%0a" + "email: " +email+ "%0a"+ "phone: " +phone+ "%0a" + "message: " +message+ "%0a%0a";
   	window.open(url,'_blank').focus();
   }
</script>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'},{'ap':'cpsh-oh'},{'server':'sg2plzcpnl504244'},{'dcenter':'sg2'},{'cp_id':'9996600'},{'cp_cl':'8'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='../img1.wsimg.com/signals/js/clients/scc-c2/scc-c2.min.js'></script>
<style>

.franchiseprodboxhedingthree {
    display: flex;
    justify-content: center; /* Centers text */
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background: black;
    border: 3px solid #ef0000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap; /* Prevents text from wrapping */
    max-width: 100%; /* Prevents overflow */
}

/* 3D Effect for Red Text */
.franchiseprodboxhedingthree span:first-child {
    font-size: 2vw; /* Responsive font size */
    font-weight: bold;
    color: #ef0000;
}

/* 3D Effect for White Text */
.franchiseprodboxhedingthree span:last-child {
    font-size: 1.8vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 0px gray, 4px 4px 0px darkgray, 6px 6px 5px rgba(0, 0, 0, 0.5);
}

/* 🔹 Responsive Adjustments */
@media (max-width: 768px) {
    .franchiseprodboxhedingthree {
        padding: 8px 15px; /* Reduce padding */
    }

    .franchiseprodboxhedingthree span:first-child {
        font-size: 4vw; /* Scale text dynamically */
    }

    .franchiseprodboxhedingthree span:last-child {
        font-size: 3.5vw;
    }
}

@media (max-width: 480px) {
    .franchiseprodboxhedingthree {
        flex-direction: column; /* Stack text vertically */
        padding: 6px 10px;
    }

    .franchiseprodboxhedingthree span:first-child,
    .franchiseprodboxhedingthree span:last-child {
        font-size: 5vw; /* Larger text for small screens */
    }
}




</style>