<div id="toponebitelogo">
      <div id="toponebitelogoul">
         <div id="onebitesmenuleft">
            <a href="<%= root_path%>">Home</a>
            <a href="<%= about_path%>">About us</a>
            <a href="<%=events_path%>">Events</a>
            <a href="<%=gallery_path %>">Gallery</a>
            <a href="#">Franchise Model</a>
         </div>
         <div id="onebitesmenulright">
            <a href="<%= award_path%>">Franchise Awards</a>
            <a href="#">Store Locator</a>       
            <a href="#">Franchise Enquiry</a>
            <a href="<%= blogs_path%>">News / Blogs</a>
         </div>
      </div>
   </div>
